body {
  font-family: "Open Sans", sans-serif; /* Modern font from Google Fonts */
  margin: 2rem; /* Use rem unit for responsive scaling */
}

h1,
h2 {
  text-align: center;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem; /* Larger main heading */
}

p {
  line-height: 1.6;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: center; /* Center align items */
}

li {
  margin: 0.5rem;
}

a {
  color: #3498db; /* More subdued blue */
  text-decoration: none;
}

a:hover {
  color: #2980b9; /* Darker blue on hover */
  text-decoration: underline;
}

.you-are-here {
  font-weight: bold;
}

/* Media Queries (Example for mobile) */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
